<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<table cellpadding="0" align="center" width="600" style="background:#fff; width:600px; margin:0 auto; text-align:left; position:relative; border-radius:5px; font-size:14px; font-family:微软雅黑,\'lucida Grande\',Verdana; line-height:1.5;  border-collapse:collapse; background-color: #FFFFee;">
		<tbody>
			<tr>
			<th valign="middle" style="height:25px;color:#fff; font-size:14px;line-height:25px; font-weight:bold;text-align:left;padding:15px 35px; border-bottom:1px solid #467ec3;background:#518bcb;border-radius:5px 5px 0 0;">
			阅读</th>
			</tr>
			<tr>
			<td>
			<div style="padding:25px 35px 40px; background:#fff;border:1px solid #5A9EEA;">
			您好，您的订单已经支付完成，订单已确认生效。<br />
			<br />
			以下是您的卡密信息：
			<br />
			----------------------------------------------------------------------<br />

			{ka_sec}

			<br />----------------------------------------------------------------------<br />
			请妥善保管，不要泄露给他人。<br />
			</div>
			</td>
			</tr>
			<tr>
			<th valign="middle" style="height:25px;color:#fff; font-size:14px;line-height:25px; font-weight:bold;text-align:left;padding:15px 35px; border-top:1px solid #467ec3;background:#518bcb;border-radius: 0 0 5px 5px;">本邮件为系统自动发送，请勿回复。</th>
			</tr>
		</tbody>
	</table>
</body>
</html>